Flask
Flask-Login
Flask-SQLAlchemy
Flask-Migrate
Flask-WTF
Werkzeug
gunicorn
numpy
pandas
scikit-learn
xgboost
mlflow
nltk
textblob
requests
python-dotenv
joblib
scipy
jinja2
itsdangerous
click
blinker
sqlalchemy
alembic
