<!DOCTYPE html>
<html>
<head>
    <title>Therabot</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<h2>Therabot Chat</h2>

<div id="chat-box"></div>

<div class="input-area">
    <input type="text" id="message" placeholder="Type your message...">
    <button onclick="sendMessage()">Send</button>
</div>
<div id="mlops-panel">
    <h3>⚙️ Model Status</h3>
    <p>Accuracy: <span id="acc">-</span></p>
    <p>F1 Score: <span id="f1">-</span></p>
    <p>Last Trained: <span id="time">-</span></p>
    <p>Feedback Used: <span id="feedback">-</span></p>
</div>

<script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>